<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body style="background-color:#4285f4">
<div class="container"
     style="position: fixed; top: 50%; left: 50%;-webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);">


    <form style="max-width: 500px;padding: 20px;padding-bottom:5px;margin: 0 auto;background-color:#ffffff;border-radius: 10px 10px 10px 10px">
        <div class="form-group">
            <p class="bg-primary" style="text-align: center;background-color: #557ebf;padding: 10px;border-radius: 10px 10px 10px 10px">Скажите Алисе : <br> активируй учётку код: <b>$otpByClient</b>, в течении 1 минуты.</p>
        </div>

    </form>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</body>
</html>